.item {
    background: #3498db;
    color: white;
    padding: 20px;
    text-align: center;
   
}
.grid-simple{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
}
.grid-fr {
    grid-template-columns: 1fr 2fr 1fr;
    display: grid;
}
.grid-gap {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}
